<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ user }}!</p>

    <!-- Navigation Buttons -->
    <div>
        <button onclick="window.location.href='/admin/users'">Manage Users</button>
        <button onclick="window.location.href='/admin/add_resource'">Add Resource</button>
    </div>

    <h2>Current Incidents</h2>
    <ul>
        {% for incident in incidents %}
            <li>
                Incident Description: {{ incident.description }}<br>
                Sector: {{ incident.sector_id }} - ID: {{ incident.id }}<br>
                Type: {{ incident.incident_type }}<br>
                Status: {{ incident.status }}<br>
                <a href="/edit_incident/{{ incident.id }}">Edit Incident</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Resources</h2>
    <ul>
        {% for resource in resources %}
            <li>{{ resource[1] }}: {{ resource[2] }} - <a href="/admin/edit_resource/{{ resource[0] }}">Edit</a></li>
        {% endfor %}
    </ul>

        <!-- Logout Button -->
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

</body>
</html>
