<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        <label for="title">Title:</label>
        <select id="title" name="title" required>
            <option value="Monsieur">Monsieur</option>
            <option value="Madame">Madame</option>
        </select><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="sector">Sector:</label>
        <select id="sector" name="sector">
            {% for sector in sectors %}
                <option value="{{ sector[0] }}">{{ sector[1] }} - ID: {{ sector[0] }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
